@{
    ViewData["Title"] = "TREE STRUCTURE"; }

<div class="main-app">
    <div class="section">
        <div class="section-header">
            <div class="header-icon"><i class="fas fa-tree"></i></div>
            <span class="section-header-title">Add Nodes to the Tree</span>
        </div>
        <div class="section-header">
            <div><button onclick="showAddModal()" class="action-icon"><i class="fas fa-plus"></i></button></div>
            <div><button onclick="sortByName('main-app-folder')" class="action-icon"><i class="fas fa-sort"></i></button></div>
        </div>
            <div id="tree"></div>
        </div>
    @await Html.PartialAsync("_Modals")
</div>
<script>
    $(document).ready(getNodes());
    $(document).ready(getNameTags());
    $(document).ready(function () {
        $("#form").validate();
    });


    function getNodes() {
        $.get('@Configuration.URL_GET_NODES',
            function (response) {
                $("#tree").html(buildDirectories(response, 'main-app-folder', false));
                addNameTag();
            });
    }

    function buildDirectories(data, parentId, isChildNode) {
        var html = '';
        html += (isChildNode) ? `<ul id='${parentId}' class="nested" data-sort="0">` : `<ul id='${parentId}'>`;
        for (item in data) {
            html += '<li>';
            if (data[item].childNodes.length > 0) {
                html += '<span class="caret">' + data[item].name + '</span>' + addActions(data[item], true);
                html += buildDirectories(data[item].childNodes, data[item].id, true);
            } else {
                html += '<span class="empty">' + data[item].name + '</span>' + addActions(data[item], false);
            }
            html += '</li>';
        }
        html += '</ul>';
        return html;
    }

    function addActions(data, isSortable) {
        var html = '<span class="tree-actions">' +
            '<button class="action-icon-tree"onclick="showAddModal(' +
            data.id +
            ')"><i class="fas fa-plus"></i></button>' +
            '<button class="action-icon-tree" onclick="showEditModal(' +
            data.id +
            ')"><i class="fas fa-pen"></i></button>' +
            '<button class="action-icon-tree-delete" onclick="deleteNode(' +
            data.id +
            ')"><i class="fas fa-times"></i></button>' +
            '</span>';
        return html;
    }

    function addNameTag() {
        $('.caret').click(function () {
            $(this).parent('li').children('.nested').toggleClass("active");
            $(this).toggleClass("caret-down");
        });
    }

    function getNameTags() {
        $.get('@Configuration.URL_TAGS',
            function (response) {
                response.forEach(function (o) {
                    $('#select-node').append(
                        `<option value="${o.id}">${o.name}</option>`
                    );
                })
            });
    }

    function sortByName(id) {
        var list = $(`#${id}`).children();
        var sortDirection = $(`#${id}`).attr('data-sort');
        list.sort(function (a, b) {
            if (sortDirection == 0) {
                return $(a).children('span').text().localeCompare($(b).children('span').text());
            } else {
                return $(b).children('span').text().localeCompare($(a).children('span').text());
            }
        });
        $(`#${id}`).append(list);
        $(`#${id}`).attr('data-sort', sortDirection == 0 ? 1 : 0);
    }

    function showAddModal(parentId) {
        resetForm();
        if (parentId !== null) {
            $('#select-node').val(parentId);
        }
        $('#form-modal').modal('show');
    }

    function showEditModal(id) {
        resetForm();
        $.ajax({
            type: 'GET',
            url: '@Configuration.URL_GET_NODE_BY_ID/' + id,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#form-name").val(response.name);
                $("#form-id").val(response.id);
                if (response.parentId !== null) {
                    $("#select-node").val(response.parentId);
                }
                else {
                    $("#select-node").val('');
                }
                $('#form-modal').modal('show');
            }
        })
    }
    $("#form").submit(function (e) {

        e.preventDefault();
        var form = {
            id: $('#form-id').val() === "" ? null : parseInt($('#form-id').val()),
            name: $('#form-name').val(),
            parentId: parseInt($('#select-node').val()) === 0 ? null : parseInt($('#select-node').val())
        };
        console.log(form.id);
        $.ajax({
            type: "POST",
            url: form.id === null
                ? '@Configuration.URL_TREE_ADD'
                : '@Configuration.URL_TREE_EDIT',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(form),
            success: function (response) {
                alertify.alert(response);
                $('#form-modal').modal('hide');
                getNodes();
            }
        });
    });


    function resetForm() {
        $("#form")[0].reset();
    };

    function deleteNode(id) {
        $.get('@Configuration.URL_TREE_DELETE/' + id,
            function (response) {
                alertify.alert(response);
                getNodes();
            });
    };

</script>